<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="swufe-logo.png" />
        <title>财经交叉融合与数智科学</title><meta name="pageType" content="1">
<meta name="pageTitle" content="财经交叉融合与数智科学">
<META Name="keywords" Content="财经交叉融合与数智科学" >
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/highligted.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/introduce.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/swiper.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/counter.js')}}"></script>
</head>
    <body onload="javascript:swiperMove()">
        <header class="header">
            <div class="header-top clear">
                <div class="header-logo">
<a href="https://www.swufe.edu.cn/" class="swufe-logo" target="_blank">
    <img src="{{ url_for('static', filename='images/swufe-logo.png')}}" alt="">
</a>
                        <p class="main-title">财经交叉融合与数智科学</p>
                        <p class="sub-title">Financial Cross-Convergence and
                            <br>Data Intelligence Science
                        </p></div>
                <div class="header-menu">
                    <div><ul class="nav clear">
   <li class="nav-main">
                                <a href="{{ url_for('index')}}" title="首页"></a>
   </li>
  <li>
                                <a href="{{ url_for('teamintroduce')}}" title="团队介绍">团队介绍</a>
   </li>

  <li>
                                <a href="{{ url_for('kycg')}}" title="科研成果">科研成果</a>
   </li>

  <li>
                                <a href="{{ url_for('jxcg')}}" title="教学成果">教学成果</a>
   </li>

  <li>
                                <a href="{{ url_for('xsbs')}}" title="学生比赛">学生比赛</a>
   </li>
  <li>
                                <a href="{{ url_for('xssx')}}" title="学生实训">学生实训</a>
   </li>

  <li style=" margin-left: 19px;">
                                <a href="{{ url_for('kyzh')}}" title="科研组会">科研组会</a>
   </li>
                        <li style=" margin-left:6px;">
                         <a href="{{ url_for('work')}}" title="就业去向">就业去向</a>
    </li>
</ul></div>
                </div>
            </div>
        </header>
    <div class="callout-sub">
        <nav class="breadcrumb" role="navigation">
            <h2 class="element-invisible">You are here</h2>
            <ol>   <li>当前位置：</li>
                    <li>
                    <a href="{{ url_for('index')}}">首页</a>
                    <span class="next"></span>
                </li>
            <li>
                    <a href="{{ url_for('teamintroduce')}}">团队介绍</a>
                <span class="next"></span>
                </li>
                <li>
                    <a href="{{ url_for('lzy')}}">李志勇</a>
                </li>
</ol>
        </nav>
    </div>
        <div class="header-img" style="width: 1200px;">
                        <img src="{{ url_for('static', filename='images/ysz.png')}}" style="height: 170px; width:1200px;margin-left:30px;">

        </div>
    <div class="team_intr">
        <div class="team_con">
            <div class="team_left">
                <img src="{{ url_for('static', filename='images/teampicture/lzy.jpg')}}" alt="">
                <h2>李志勇</h2>
                <p>金融科技系</p>
                <p>教授、博士生导师</p>
                <p><b>Email：</b>liz@swufe.edu.cn</p>
                <div class="parting-line" style="width: 100%"></div>
            </div>
            <div class="team_right">
                <div class="person-sum">
                    <p>&nbsp; &nbsp; &nbsp; &nbsp;<b style="color:#137bc4;">个人简介：</b>
西南财经大学金融学教授、博士生导师，“双万计划”省级一流专业建设点信用管理专业负责人。在英国爱丁堡大学商学院获得博士学位，师从英国社会科学院院士Jonathan Crook教授和英国信用研究中心主任Galina Andreeva教授。主要研究巴塞尔协议、信用评分、信用评级、信贷组合风险管理、商业银行压力测试等，关注金融科技与监管科技、消费金融与绿色金融、财务危机与不良资产等，已在国际国内一流学术期刊上发表论文30余篇，参与国家社科重大项目2项，主持省社科重大及重点等省部级项目多项，担任JCR一区期刊BAR、IJF客座编辑，担任CFRI青年编委、IJFE副主编等。出版信用评分译著《信用评分应用》等，担任国家级一流本科课程《信用评分》负责人，在线课程《智能风控》《绿色金融》主讲人，参与和主持省级教改一般及重大项目6项。获得四川省高等教育教学成果奖二等奖、四川省第十九次社会科学优秀成果奖二等奖。入选四川省“天府万人计划”，西南财大光华百人计划，担任第四届四川省专家评议委员会成员。
                    </p>
                </div>
            </div>

        </div>
    </div>

  <div class="footer">
    <div class="footer-top">
        <ul class="clear">
            <li>
                <h2>友情链接</h2>
                <p>
                    <a href="https://gk.swufe.edu.cn/" title="" target="_blank">管理科学与工程学院</a>
                </p>
                <p>
                    <a href="https://fife.swufe.edu.cn/" title="" target="_blank">金融智能与金融工程四川省重点实验室</a>
                </p>
                <p>
                    <a href="http://10.8.23.55:17167/home.html/" title="" target="_blank">作业提交</a>
                </p>
            </li>
            <li><h2>常用下载</h2>
                 <p>
                    <a href="{{ url_for('static', filename='txt/positive.txt')}}" target="_blank" download="positive.txt">积极情感词</a>
                </p>
                <p>
                    <a href="{{ url_for('static', filename='txt/negative.txt')}}" target="_blank" download="negative.txt">消极情感词</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <ul class="clear list-paddingleft-2">
            <li><p>西南财经大学@2019 <a href="https://beian.miit.gov.cn/" target="_self">蜀ICP05006386-1号</a>&nbsp;&nbsp;
                <a href="https://beian.mps.gov.cn/#/query/webSearch?code=51010502010087" target="_self">川公网安备51010502010087号</a>
            </p></li>
            <li><p>邮政编码：611130</p></li>
            <li><p>地址：四川省成都市温江区柳台大道555号</p></li>
        </ul>
    </div>
</div>
    </body>
</html>