<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="swufe-logo.png" />
        <title>财经交叉融合与数智科学</title><meta name="pageType" content="1">
<meta name="pageTitle" content="财经交叉融合与数智科学">
<META Name="keywords" Content="财经交叉融合与数智科学" >
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/highligted.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/introduce.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/swiper.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/counter.js')}}"></script>
</head>
    <body onload="javascript:swiperMove()">
        <header class="header">
            <div class="header-top clear">
                <div class="header-logo">
<a href="https://www.swufe.edu.cn/" class="swufe-logo" target="_blank">
    <img src="{{ url_for('static', filename='images/swufe-logo.png')}}" alt="">
</a>
                        <p class="main-title">财经交叉融合与数智科学</p>
                        <p class="sub-title">Financial Cross-Convergence and
                            <br>Data Intelligence Science
                        </p></div>
                <div class="header-menu">
                    <div><ul class="nav clear">
   <li class="nav-main">
                                <a href="{{ url_for('index')}}" title="首页"></a>
   </li>
  <li>
                                <a href="{{ url_for('teamintroduce')}}" title="团队介绍">团队介绍</a>
   </li>

  <li>
                                <a href="{{ url_for('kycg')}}" title="科研成果">科研成果</a>
   </li>

  <li>
                                <a href="{{ url_for('jxcg')}}" title="教学成果">教学成果</a>
   </li>

  <li>
                                <a href="{{ url_for('xsbs')}}" title="学生比赛">学生比赛</a>
   </li>
  <li>
                                <a href="{{ url_for('xssx')}}" title="学生实训">学生实训</a>
   </li>

  <li style=" margin-left: 19px;">
                                <a href="{{ url_for('kyzh')}}" title="科研组会">科研组会</a>
   </li>
                        <li style=" margin-left:6px;">
                         <a href="{{ url_for('work')}}" title="就业去向">就业去向</a>
    </li>
</ul></div>
                </div>
            </div>
        </header>
    <div class="callout-sub">
        <nav class="breadcrumb" role="navigation">
            <h2 class="element-invisible">You are here</h2>
            <ol>   <li>当前位置：</li>
                    <li>
                    <a href="{{ url_for('index')}}">首页</a>
                    <span class="next"></span>
                </li>
            <li>
                    <a href="{{ url_for('teamintroduce')}}">团队介绍</a>
                <span class="next"></span>
                </li>
                <li>
                    <a href="{{ url_for('md')}}">马丹</a>
                </li>
</ol>
        </nav>
    </div>
        <div class="header-img" style="width: 1200px;">
                        <img src="{{ url_for('static', filename='images/ysz.png')}}" style="height: 170px; width:1200px;margin-left:30px;">

        </div>
    <div class="team_intr">
        <div class="team_con">
            <div class="team_left">
                <img src="{{ url_for('static', filename='images/teampicture/md.jpg')}}" alt="">
                <h2>马丹</h2>
                <p>经济统计系</p>
                <p>教授、博士生导师</p>
                <p><b>Email：</b>madan@swufe.edu.cn</p>
                <div class="parting-line" style="width: 100%"></div>
            </div>
            <div class="team_right">
                <div class="person-sum">
                    <p>&nbsp; &nbsp; &nbsp; &nbsp;<b style="color:#137bc4;">个人简介：</b>经济统计学博士，西南财经大学统计学院教授，博士生导师，中国社会经济统计研究中心研究员、执行主任，统计学院教授委员会委员。先后于西南财经大学获得管理学学士学位（2002），经济学博士学位（2002-2007，硕博连读），清华大学经济管理学院访问学者（2021-2022）。全国百篇优秀博士论文提名奖获得者，入选国家高层次青年人才计划，天府英才工程A类人选，光华杰出青年教授，首届光华百人计划学术类人选，四川省科学和技术带头人后备人选。兼任中国国民经济核算研究会副理事长，中国统计教育学会青年经济统计分会副会长，四川省金融统计调查委员会副主任委员，四川省考试院专家，教育部青年人才项目通讯评审专家，国家社科基金评审专家和成果鉴定专家，国家一流精品课程评审专家和多省市自治区课程思政竞赛评审专家等，担任国家精品视频公开课、国家精品资源共享课程主讲教师和省级精品在线开放课程负责人。
                    </p><p>&nbsp; &nbsp; &nbsp; &nbsp;主持国家社科基金重大项目、规划项目和青年项目、教育部人文社科规划项目和青年项目、四川省哲学社会科学重点项目等国家级省部级项目十余项。在国内外学术期刊发表学术论文60余篇，部分论文被三大中文检索转载（刊）。担任《管理世界》《统计研究》《中国工业经济》《数量经济技术经济研究》《金融研究》《中国管理科学》《Applied Economics》等国内外多家重要学术期刊审稿人，受邀在Asian KELMS，the FED，the SEM，SBD等国际机构和会议做学术报告，撰写出版专著两部、主编出版国家规划教材一本，主编和参编国家规划教材和精品课程教材五本。
                </p><p>&nbsp; &nbsp; &nbsp; &nbsp;西南财经大学首位全国百篇优秀博士论文提名奖获得者，亦为当年全国经济统计学唯一获奖者，获得西南财经大学首届学业优秀奖、招商银行奖学金、迪康奖学金等多种嘉奖。入职以来，为本科生、硕士和博士生开设《统计学》《金融风险管理方法》《应用时间序列分析》《宏观经济统计分析》《Nowcasting宏观统计前沿》《经济统计专题》等课程，先后获得刘诗白奖励基金优秀科研成果二等奖、首届全国数量经济学会优秀论文一等奖、全国统计科研成果二等奖、四川省教育教学成果一、二等奖等多项教学科研奖励，获评为西南财经大学“十佳”女职工、统计学院先进工作者，连续被评选为光华优秀硕士学位论文指导教师、西南财经大学优秀博士学位论文指导教师等。她所指导的博士和硕士毕业生主要在高等院校和金融机构任职。
                </p>
                </div>
            </div>

        </div>
    </div>

  <div class="footer">
    <div class="footer-top">
        <ul class="clear">
            <li>
                <h2>友情链接</h2>
                <p>
                    <a href="https://gk.swufe.edu.cn/" title="" target="_blank">管理科学与工程学院</a>
                </p>
                <p>
                    <a href="https://fife.swufe.edu.cn/" title="" target="_blank">金融智能与金融工程四川省重点实验室</a>
                </p>
                <p>
                    <a href="http://10.8.23.55:17167/home.html/" title="" target="_blank">作业提交</a>
                </p>
            </li>
            <li><h2>常用下载</h2>
                 <p>
                    <a href="{{ url_for('static', filename='txt/positive.txt')}}" target="_blank" download="positive.txt">积极情感词</a>
                </p>
                <p>
                    <a href="{{ url_for('static', filename='txt/negative.txt')}}" target="_blank" download="negative.txt">消极情感词</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <ul class="clear list-paddingleft-2">
            <li><p>西南财经大学@2019 <a href="https://beian.miit.gov.cn/" target="_self">蜀ICP05006386-1号</a>&nbsp;&nbsp;
                <a href="https://beian.mps.gov.cn/#/query/webSearch?code=51010502010087" target="_self">川公网安备51010502010087号</a>
            </p></li>
            <li><p>邮政编码：611130</p></li>
            <li><p>地址：四川省成都市温江区柳台大道555号</p></li>
        </ul>
    </div>
</div>
    </body>
</html>