<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="swufe-logo.png" />
        <title>财经交叉融合与数智科学</title><meta name="pageType" content="1">
<meta name="pageTitle" content="财经交叉融合与数智科学">
<META Name="keywords" Content="财经交叉融合与数智科学" >
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/highligted.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/section.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/introduce.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/swiper.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/counter.js')}}"></script>
</head>
    <body onload="javascript:swiperMove()">
        <header class="header">
            <div class="header-top">
                <div class="header-logo">
<a href="https://www.swufe.edu.cn/" class="swufe-logo" target="_blank">
    <img src="{{ url_for('static', filename='images/swufe-logo.png')}}" alt="">
</a>
                        <p class="main-title">财经交叉融合与数智科学</p>
                        <p class="sub-title">Financial Cross-Convergence and
                            <br> Data Intelligence Science
                        </p>
                </div>
                <div class="header-menu">
                    <div><ul class="nav clear">
  <li class="nav-main">
                                <a href="{{ url_for('index')}}" title="首页"></a>
   </li>
  <li>
                                <a href="{{ url_for('teamintroduce')}}" title="团队介绍">团队介绍</a>
   </li>

  <li>
                                <a href="{{ url_for('kycg')}}" title="科研成果">科研成果</a>
   </li>

  <li>
                                <a href="{{ url_for('jxcg')}}" title="教学成果">教学成果</a>
   </li>

  <li>
                                <a href="{{ url_for('xsbs')}}" title="学生比赛">学生比赛</a>
   </li>
  <li>
                                <a href="{{ url_for('xssx')}}" title="学生实训">学生实训</a>
   </li>

  <li style=" margin-left: 19px;">
                                <a href="{{ url_for('kyzh')}}" title="科研组会">科研组会</a>
   </li>
                        <li style=" margin-left:6px;">
                         <a href="{{ url_for('work')}}" title="就业去向">就业去向</a>
    </li>
</ul>
                    </div>
                </div>
            </div>
        </header>
         <div class="callout-sub">
        <nav class="breadcrumb" role="navigation">
            <h2 class="element-invisible">You are here</h2>
            <ol>   <li>当前位置：</li>
                    <li>
                    <a href="{{ url_for('index')}}">首页</a>
                    <span class="next"></span>
                </li>
            <li>
                    <a href="{{ url_for('xssx')}}">学生实训</a>
                </li>
</ol>
        </nav>
    </div>
        <div class="header-img" style="width: 1200px;">
            <img src="{{ url_for('static', filename='images/ysz.png')}}" style="height: 170px; width:1200px;margin-left:30px;">
        </div>
        <div class="students_sx">
<div class="content">
    <div class="cont_title">第四期“雏鹰展翅”精英人才培育计划
    </div>
    <div class="parting-line"></div>
      <div class="cont_img">
       <img src="{{ url_for('static', filename='images/sx41.jpg')}}">
    </div>
<div class="cont_sum">
 <p>&nbsp; &nbsp; &nbsp; &nbsp;2023年7月11日至7月31日，由西南财经大学管理科学与工程学院、金融工程与金融智能四川省重点实验室、金融科技国际联合实验室联合举办的第四期“雏鹰展翅”精英人才培育实训项目在我校成功开展。本期实训项目由管理科学与工程学院鲁万波、王俊老师负责，围绕通用人工智能大模型知识体系，聚焦金融科技和数智经济，利用千万级研究数据积累与软硬件支撑，为在校生提供历练科研素养和工程技术的舞台。</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;7月31日下午2点，实训项目进入总结交流环节。本期实训项目的答辩环节暨结业仪式在颐德楼i301举行。本环节由实训项目负责人王俊老师主持，答辩专家组由管理科学与工程学院的王俊老师和王浩旻老师、金汉磊博士组成。</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;在总结大会期间，各实训小组按顺序汇报他们的实训项目。实训项目答辩展示重点涵盖数据收集与处理、算法复现与优化、科研创新以及研究结果可视化等方面的内容。经过两近三小时的总结交流，实训专家组对各小组的科研能力与工程能力进行综合评定打分。根据打分结果，专家组成员为实训小组颁发奖项。</p>
    <p style=" text-align: center;">获奖名单</p>
    <p style=" text-align: center;">卓越奖：实训一组：陈莉容、杨欧岚、刘诗雨、余萍、杨云舒 <br>作品：《基于知识库搜索的答题机器人》</p>
    <div class="cont_img" style="margin-left:-50px;">
       <img src="{{ url_for('static', filename='images/sx42.jpg')}}">
    </div>
   <p style=" text-align: center;"> 创新奖：实训二组：陈奕廷、罗仕展、陈昭静、李寿环<br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;作品：《基于FinBert的金融新闻文本智能分析系统》</p>
     <div class="cont_img" style="margin-left:-50px;">
       <img src="{{ url_for('static', filename='images/sx44.jpg')}}">
    </div>
    <p style=" text-align: center;">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;实训四组：周琳洁、赵婧燊、赵书瑞、蔡雨蔓，王佳晨<br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;作品：《基于ChatGLM微调数字普惠金融政策问答助手》</p>
   <div class="cont_img" style="margin-left:-50px;">
       <img src="{{ url_for('static', filename='images/sx43.jpg')}}">
    </div>
    <p style=" text-align: center;">奋进奖：实训三组：贾翔斐、王涛、金海心、姬瑗<br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;作品：《基于ChatGLM2-6B政策数据微调模型》</p>
      <div class="cont_img" style="margin-left:-50px;">
       <img src="{{ url_for('static', filename='images/sx45.jpg')}}">
    </div>
       <p style=" text-align: center;"> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;实训五组：杨荐文、袁林德、阎根伟、刘彦邑、黄奕杰<br>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;作品：《ChatGLM微调+NLP情感分析+宏观经济预测》</p>
<div class="cont_img" style="margin-left:-50px;">
       <img src="{{ url_for('static', filename='images/sx46.jpg')}}">
    </div>
    <p> &nbsp; &nbsp; &nbsp; &nbsp;最后，实训项目负责人王俊老师对为期三周的实训项目进行了总结。他充分肯定了实训成员们在这段时间内的努力与付出，并表达了对他们未来综合发展的更高期许。王俊老师希望同学们在后续的学习和工作中不断提升自己，成为能够推动社会发展的复合型人才。</p>
</div>
        </div>
        </div>
      <div class="pb_sys_common pb_sys_full pb_sys_style1" style="margin-top:10px;text-align:center;">
            <span class="p_pages">
                <span class="p_first p_fun">首期</span>
                <span class="p_prev p_fun">上一期</span>
                <span class="p_no_d">1</span>
                <span class="p_no"><a href="{{ url_for('xssx3')}}">2</a></span>
                <span class="p_no"><a href="{{ url_for('xssx2')}}">3</a></span>
                <span class="p_no"><a href="{{ url_for('xssx1')}}">4</a></span>
                <span class="p_next p_fun"><a href="{{ url_for('xssx3')}}">下一期</a></span>
                <span class="p_last p_fun"><a href="{{ url_for('xssx1')}}">尾期</a></span>
            </span>
        </div>
 <div class="footer">
    <div class="footer-top">
        <ul class="clear">
            <li>
                <h2>友情链接</h2>
                <p>
                    <a href="https://gk.swufe.edu.cn/" title="" target="_blank">管理科学与工程学院</a>
                </p>
                <p>
                    <a href="https://fife.swufe.edu.cn/" title="" target="_blank">金融智能与金融工程四川省重点实验室</a>
                </p>
                <p>
                    <a href="http://10.8.23.55:17167/home.html/" title="" target="_blank">作业提交</a>
                </p>
            </li>
            <li><h2>常用下载</h2>
                 <p>
                    <a href="{{ url_for('static', filename='txt/positive.txt')}}" target="_blank" download="positive.txt">积极情感词</a>
                </p>
                <p>
                    <a href="{{ url_for('static', filename='txt/negative.txt')}}" target="_blank" download="negative.txt">消极情感词</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <ul class="clear list-paddingleft-2">
            <li><p>西南财经大学@2019 <a href="https://beian.miit.gov.cn/" target="_self">蜀ICP05006386-1号</a>&nbsp;&nbsp;
                <a href="https://beian.mps.gov.cn/#/query/webSearch?code=51010502010087" target="_self">川公网安备51010502010087号</a>
            </p></li>
            <li><p>邮政编码：611130</p></li>
            <li><p>地址：四川省成都市温江区柳台大道555号</p></li>
        </ul>
    </div>
</div>
    </body>
</html>
