<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="swufe-logo.png" />
        <title>财经交叉融合与数智科学</title><meta name="pageType" content="1">
<meta name="pageTitle" content="财经交叉融合与数智科学">
<META Name="keywords" Content="财经交叉融合与数智科学" >
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/highligted.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/introduce.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/swiper.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/counter.js')}}"></script>
</head>
    <body onload="javascript:swiperMove()">
        <header class="header">
            <div class="header-top clear">
                <div class="header-logo">
<a href="https://www.swufe.edu.cn/" class="swufe-logo" target="_blank">
    <img src="{{ url_for('static', filename='images/swufe-logo.png')}}" alt="">
</a>
                        <p class="main-title">财经交叉融合与数智科学</p>
                        <p class="sub-title">Financial Cross-Convergence and
                            <br>Data Intelligence Science
                        </p></div>
                <div class="header-menu">
                    <div><ul class="nav clear">
   <li class="nav-main">
                                <a href="{{ url_for('index')}}" title="首页"></a>
   </li>
  <li>
                                <a href="{{ url_for('teamintroduce')}}" title="团队介绍">团队介绍</a>
   </li>

  <li>
                                <a href="{{ url_for('kycg')}}" title="科研成果">科研成果</a>
   </li>

  <li>
                                <a href="{{ url_for('jxcg')}}" title="教学成果">教学成果</a>
   </li>

  <li>
                                <a href="{{ url_for('xsbs')}}" title="学生比赛">学生比赛</a>
   </li>
  <li>
                                <a href="{{ url_for('xssx')}}" title="学生实训">学生实训</a>
   </li>

  <li style=" margin-left: 19px;">
                                <a href="{{ url_for('kyzh')}}" title="科研组会">科研组会</a>
   </li>
                        <li style=" margin-left:6px;">
                         <a href="{{ url_for('work')}}" title="就业去向">就业去向</a>
    </li>
</ul></div>
                </div>
            </div>
        </header>
    <div class="callout-sub">
        <nav class="breadcrumb" role="navigation">
            <h2 class="element-invisible">You are here</h2>
            <ol>   <li>当前位置：</li>
                    <li>
                    <a href="{{ url_for('index')}}">首页</a>
                    <span class="next"></span>
                </li>
            <li>
                    <a href="{{ url_for('teamintroduce')}}">团队介绍</a>
                </li>
</ol>
        </nav>
    </div>
        <div class="header-img" style="width: 1200px;">
                        <img src="{{ url_for('static', filename='images/ysz.png')}}" style="height: 170px; width:1200px;margin-left:30px;">

        </div>
    <div class="introduce">
        <div class="content">
            <div class="cont_title">财经交叉融合与数智管理团队
    </div>
    <div class="parting-line"></div>
   <div class="mark"></div>
    <div class="zititle">团队介绍</div>
<div class="cont_sum">
 <p>&nbsp; &nbsp; &nbsp; &nbsp;财经交叉融合与数智管理团队依托于金融智能与金融工程四川省重点实验室，由西南财经大学管理科学与工程学院、金融学院、计算机学院等单位中青年科研骨干组成，汇聚了来自不同学科背景的优秀人才，我们致力于搭建一个科学研究的合作交流平台，在财经领域推动跨学科研究与数智管理的融合，积极引导财经领域的创新，通过跨学科合作与数智管理的应用，为社会和企业创造更大的价值。</p>
<p> &nbsp; &nbsp; &nbsp; &nbsp;财经交叉融合与数智管理团队的成员涵盖了金融、经济、信息技术、数据分析、管理学等多个学科领域，融合定量与定性研究方法，结合实证研究和案例分析，以深入理解复杂的财经和管理问题。财经交叉融合与数智管理团队成员主持国家级、省部级等30余项科研项目，在 SCI / SSCI / CSSCI 期刊上发表论文150 余篇，其中包括发表于IEEE TKDE、TAC、Automatica、IISE、TR、EJOR、NRL、Financial Innovation、《中国科学》、《南开管理评论》等。团队使用先进的数据分析工具和模型，借助计算机科学技术实现管理数智化。</p>
    <div class="mark" style="margin-left:0px; margin-top:10px;"></div>
    <div class="zititle" style="margin-left:30px; margin-top:15px;">研究领域</div>
 <p style=" margin-top:10px;">&nbsp; &nbsp; &nbsp; &nbsp;——数字金融：聚焦金融科技、区块链、数字货币等关键领域，深入研究大数据与金融产业协作与融合机制，探讨数字化对金融业的重塑影响。 </p>
<p> &nbsp; &nbsp; &nbsp; &nbsp;——数据驱动决策：基于前沿的大数据分析与人工智能算法，通过研究自然语言处理、图像处理、图神经网络和多模态模型等领域底层算法，探索AI综合性智能分析与决策应用。旨在帮助金融机构与企业深入洞察和理解复杂数据模型，优化管理决策。</p>
<p> &nbsp; &nbsp; &nbsp; &nbsp;——可持续金融与投资：聚焦环境、社会和治理因素（ESG）对金融投资的可持续投资影响，深入研究可持续发展目标与金融策略的结合机制。</p>
<p> &nbsp; &nbsp; &nbsp; &nbsp;——企业风险管理：基于风险评估技术和方法，通过研究市场动态、宏观经济指标以及企业内部管理机制，探索在不断变化的商业环境中的创新风险管理策略。</p>
 <div class="mark" style="margin-left:0px; margin-top:10px;"></div>
    <div class="zititle" style="margin-left:30px; margin-top:15px;">团队成员</div>
    <p style="text-align:center;"><a href="{{ url_for('dd')}}" target="_blank">丁丹</a>
    <a href="{{ url_for('jtx')}}" target="_blank">蒋太翔</a>
    <a href="{{ url_for('wj')}}" target="_blank">王俊</a>
   <a href="{{ url_for('lq')}}" target="_blank">李庆</a>
<a href="{{ url_for('lzy')}}" target="_blank">李志勇</a>
<a href="{{ url_for('md')}}" target="_blank">马丹</a>
<a href="{{ url_for('xh')}}" target="_blank">肖辉</a>
<a href="{{ url_for('whm')}}" target="_blank">王浩旻</a></p>
<p style="text-align:center;"><a href="{{ url_for('sl')}}" target="_blank">施龙</a>
<a href="{{ url_for('tjy')}}" target="_blank">谭晶桦</a>
<a href="{{ url_for('thy')}}" target="_blank">谭鸿瀛</a>
<a href="{{ url_for('xsy')}}" target="_blank">薛舒予</a>
<a href="{{ url_for('ygy')}}" target="_blank">余关元</a>
<a href="{{ url_for('zhc')}}" target="_blank">郑海超</a>
<a href="{{ url_for('zy')}}" target="_blank">张阳</a>
<a href="{{ url_for('gg')}}" target="_blank">高歌</a>
</p>
    <div class="mark" style="margin-left:0px; margin-top:10px;"></div>
    <div class="zititle" style="margin-left:30px; margin-top:15px;">团队招募</div>
    <p style=" margin-top:10px;"> &nbsp; &nbsp; &nbsp; &nbsp;欢迎对相关研究领域感兴趣的老师、博士后、博士、硕士、优秀本科生和访问学生加入财经交叉融合与数智管理团队，如需要交流，可发送简历到邮箱：wangjun1987@swufe.edu.cn（王老师）。</p>
<p> &nbsp; &nbsp; &nbsp; &nbsp;我们鼓励与其他高校、企业和研究机构建立紧密的合作关系，共同开展项目研究和知识交流，汇聚更多的思想和资源，共同推动财经领域的创新和进步，为实现更加可持续和繁荣的经济社会贡献我们的力量！</p>
</div>
             <div style="text-align: center;"></div>
        </div>
    </div>

  <div class="footer">
    <div class="footer-top">
        <ul class="clear">
            <li>
                <h2>友情链接</h2>
                <p>
                    <a href="https://gk.swufe.edu.cn/" title="" target="_blank">管理科学与工程学院</a>
                </p>
                <p>
                    <a href="https://fife.swufe.edu.cn/" title="" target="_blank">金融智能与金融工程四川省重点实验室</a>
                </p>
                <p>
                    <a href="http://10.8.23.55:17167/home.html/" title="" target="_blank">作业提交</a>
                </p>
            </li>
            <li><h2>常用下载</h2>
                 <p>
                    <a href="{{ url_for('static', filename='txt/positive.txt')}}" target="_blank" download="positive.txt">积极情感词</a>
                </p>
                <p>
                    <a href="{{ url_for('static', filename='txt/negative.txt')}}" target="_blank" download="negative.txt">消极情感词</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <ul class="clear list-paddingleft-2">
            <li><p>西南财经大学@2019 <a href="https://beian.miit.gov.cn/" target="_self">蜀ICP05006386-1号</a>&nbsp;&nbsp;
                <a href="https://beian.mps.gov.cn/#/query/webSearch?code=51010502010087" target="_self">川公网安备51010502010087号</a>
            </p></li>
            <li><p>邮政编码：611130</p></li>
            <li><p>地址：四川省成都市温江区柳台大道555号</p></li>
        </ul>
    </div>
</div>
    </body>
</html>