<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="swufe-logo.png" />
        <title>财经交叉融合与数智科学</title><meta name="pageType" content="1">
<meta name="pageTitle" content="财经交叉融合与数智科学">
<META Name="keywords" Content="财经交叉融合与数智科学" >
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/highligted.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/section.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/introduce.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/swiper.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/counter.js')}}"></script>
</head>
    <body onload="javascript:swiperMove()">
        <header class="header">
            <div class="header-top">
                <div class="header-logo">
<a href="https://www.swufe.edu.cn/" class="swufe-logo" target="_blank">
    <img src="{{ url_for('static', filename='images/swufe-logo.png')}}" alt="">
</a>
                        <p class="main-title">财经交叉融合与数智科学</p>
                        <p class="sub-title">Financial Cross-Convergence and
                            <br> Data Intelligence Science
                        </p>
                </div>
                <div class="header-menu">
                    <div><ul class="nav clear">
  <li class="nav-main">
                                <a href="{{ url_for('index')}}" title="首页"></a>
   </li>
  <li>
                                <a href="{{ url_for('teamintroduce')}}" title="团队介绍">团队介绍</a>
   </li>

  <li>
                                <a href="{{ url_for('kycg')}}" title="科研成果">科研成果</a>
   </li>

  <li>
                                <a href="{{ url_for('jxcg')}}" title="教学成果">教学成果</a>
   </li>

  <li>
                                <a href="{{ url_for('xsbs')}}" title="学生比赛">学生比赛</a>
   </li>
  <li>
                                <a href="{{ url_for('xssx')}}" title="学生实训">学生实训</a>
   </li>

  <li style=" margin-left: 19px;">
                                <a href="{{ url_for('kyzh')}}" title="科研组会">科研组会</a>
   </li>
                        <li style=" margin-left:6px;">
                         <a href="{{ url_for('work')}}" title="就业去向">就业去向</a>
    </li>
</ul>
                    </div>
                </div>
            </div>
        </header>
         <div class="callout-sub">
        <nav class="breadcrumb" role="navigation">
            <h2 class="element-invisible">You are here</h2>
            <ol>   <li>当前位置：</li>
                    <li>
                    <a href="{{ url_for('index')}}">首页</a>
                    <span class="next"></span>
                </li>
            <li>
                    <a href="{{ url_for('xssx')}}">学生实训</a>
                </li>
</ol>
        </nav>
    </div>
        <div class="header-img" style="width: 1200px;">
            <img src="{{ url_for('static', filename='images/ysz.png')}}" style="height: 170px; width:1200px;margin-left:30px;">
        </div>
        <div class="students_sx"><div class="model_sx">
            <div class="ly_title">
                <ul>
                    <li class="pic_Swork_tab" >实训成果</li>
                    <img src="{{ url_for('static', filename='images/flwoer1.jpg')}}" alt="">
                    <div class="clear"></div>
                </ul>
                <div class="ly_moreS" style="margin-right:2%">
                    <a href="{{ url_for('xssx4')}}" target="" style="display: inline;">more+</a>
                </div>
            </div>
            <div class="Meeting">
                <ul style="display: block;">
  <a href="{{ url_for('xssx4')}}" ><li>
                        <div class="timers">2023-7-31</div>
                        <div class="ly_titles">第四期“雏鹰展翅”精英人才培育计划</div>
                        <div class="summary">
                            2023年7月11日至7月31日，由西南财经大学管理科学与工程学院、金融工程与金融智能四川省重点实验室、金融科技国际联合实验室联合举办的第四期“雏鹰展翅”精英人才培育实训项目在我校成功开展。本期实训项目由管理科学与工程学院鲁万波、王俊老师负责，围绕通用人工智能大模型知识体系，聚焦金融科技和数智经济，利用千万级研究数据积累与软硬件支撑，为在校生提供历练科研素养和工程技术的舞台。
                        </div>
                    </li></a>

<a href="{{ url_for('xssx3')}}" ><li>
                        <div class="timers">2022-8-21</div>
                        <div class="ly_titles">第三期“雏鹰展翅”精英人才培育计划</div>
                        <div class="summary">
                     <p>2022年8月21日下午三点，第三期“雏鹰展翅”精英人才培育计划总结交流大会暨结业仪式在FIC实验室举行。</p>
                      <p>活动开始，各实训小组依次汇报了所完成的项目，与实训导师组就论文复现、项目创新、网页展示等方面进行了答辩。经过两个小时的总结交流，实训导师组对各小组的科研能力与工程能力进行综合评定打分。随着获奖荣誉的推出，FIC第三期“雏鹰展翅”精英人才培育计划总结交流环节成功结束。</p>

                        </div>
                    </li></a>

<a href="{{ url_for('xssx2')}}" ><li>
                        <div class="timers">2021-8-15</div>
                        <div class="ly_titles">第二期“雏鹰展翅”精英人才培育计划</div>
                        <div class="summary">
                         2021年8月15日下午两点，一场激动人心的盛会在FIC实验室拉开帷幕，第二期“雏鹰展翅”精英人才培育计划的总结交流大会暨结业仪式在此隆重举行。作为培养未来科技精英的重要平台，此次活动不仅是对实训成员们过去一个阶段努力的肯定，更是对他们未来发展的激励与期许。
                                                </div>
                    </li></a>

<a href="{{ url_for('xssx1')}}" ><li>
                        <div class="timers">2020-7-15</div>
                        <div class="ly_titles">第一期“雏鹰展翅”精英人才培育计划</div>
                        <div class="summary">
2020年7月15日，风起云涌的今天，西南财经大学管理科学与工程学院与金融工程与金融智能四川省重点实验室联合主办的“雏鹰展翅”精英人才培育计划迎来了首期实训项目的圆满收官。在FIC实验室内，一场充满智慧与活力的总结交流大会暨结业仪式盛大开启
                                         </div>
                    </li></a>

<div class="clear"></div>
</ul>
            </div>
       </div>
        </div>
 <div class="footer">
    <div class="footer-top">
        <ul class="clear">
            <li>
                <h2>友情链接</h2>
                <p>
                    <a href="https://gk.swufe.edu.cn/" title="" target="_blank">管理科学与工程学院</a>
                </p>
                <p>
                    <a href="https://fife.swufe.edu.cn/" title="" target="_blank">金融智能与金融工程四川省重点实验室</a>
                </p>
                <p>
                    <a href="http://10.8.23.55:17167/home.html/" title="" target="_blank">作业提交</a>
                </p>
            </li>
            <li><h2>常用下载</h2>
                 <p>
                    <a href="{{ url_for('static', filename='txt/positive.txt')}}" target="_blank" download="positive.txt">积极情感词</a>
                </p>
                <p>
                    <a href="{{ url_for('static', filename='txt/negative.txt')}}" target="_blank" download="negative.txt">消极情感词</a>
                </p>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <ul class="clear list-paddingleft-2">
            <li><p>西南财经大学@2019 <a href="https://beian.miit.gov.cn/" target="_self">蜀ICP05006386-1号</a>&nbsp;&nbsp;
                <a href="https://beian.mps.gov.cn/#/query/webSearch?code=51010502010087" target="_self">川公网安备51010502010087号</a>
            </p></li>
            <li><p>邮政编码：611130</p></li>
            <li><p>地址：四川省成都市温江区柳台大道555号</p></li>
        </ul>
    </div>
</div>
    </body>
</html>
